name: CI - Build & Push FE + BE

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Backend
      - name: Build backend image
        run: |
          docker build -t ghcr.io/itstrant1706/text-diff-backend:latest ./backend

      - name: Push backend image
        run: |
          docker push ghcr.io/itstrant1706/text-diff-backend:latest

      # Frontend
      - name: Build frontend image
        run: |
          docker build -t ghcr.io/itstrant1706/text-diff-frontend:latest ./frontend

      - name: Push frontend image
        run: |
          docker push ghcr.io/itstrant1706/text-diff-frontend:latest
